/* picresize.com */



@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


header


:root { 
  --heading-font: sans-serif, Geneva, Verdana;
  --paragraph-font: Montserrat, 'Lucida Sans', 'Lucida Sans Regular';

}

main section img {
    box-sizing: border-box;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4 {
    color: white;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.card-img, .mountains {
    width: 100%;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.home-title {
    font-size: 2em;
    margin-top: 10px;
    color: #665a4b;

}
nav {
    display: flex;
    justify-content: space-around;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px 8px #6f7364;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);

}

h2 {
    margin: 0;
}

h4 {
    color: #665a4b;
}
header {

    background-color: rgb(56, 55, 54);
    padding: 1em;  
    display: grid;
    grid-template-columns: 150px auto;

}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80px;
}



p {
    font-family: var(--paragraph-font);
}


nav a {
    text-align: center;
    color: #d9c2a3;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: rgb(55, 55, 51);
    color: #665a4b;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.button-box {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

main {
    text-align: center;
    
}

#background {
    height: 725px;
    background-color: bisque;
    grid-column: 1/11;
    grid-row: 4/9;
}


.icon {
    padding-top: 10px;
}

.book, .join {
    background-color: rgb(138, 108, 77);
    color: #d9c2a3;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: rgb(55, 55, 51);
    color: #d9c2a3;
}

.msg {
    background-color: #d9c2a3;
    padding: 35px;
    line-height: 1.5em;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: #665a4b;
}

.msg p {
    color: #665a4b;
    padding-bottom: 15px;
    font-size: .8em;
}

footer {
    background-color: rgb(230, 209, 184);
    color: #665a4b;
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

footer a {
        color: #665a4b;
    text-decoration: none;

}

footer a:hover {
    color: #665a4b;
    text-decoration: none;

}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}