* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}
.logo {
    width: 75px;
    margin: auto;
}

.logo img {
    border-radius: 50%;
}
header {
    text-align: center;
    background-color: rgb(56, 55, 54);
    padding: 1em;
    

}

header nav a {
    color: white;
    text-decoration: none;

}

#banner-box {
    position: relative;
}

#banner-box h1 {
    position: absolute;
    top: 10%;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

#product-gallory {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    gap: 1em;
    justify-content: baseline;
    padding: 1em;

}

footer {
    background-color: brown;
    color: white;
    display: flex;
    justify-content: center;


}

#foter-logos {
    display: flex;
    justify-content: center;

}