body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png'); 
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 10px black;
  min-height: 400px;
}

#fname {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  margin-left: 26em;
  

}

.user-input {
  background-color: #293132;
}

.submit-button {
  margin-bottom: 2em;

}

h2 {
  background-color: #8C9A9E;
  margin-left: 6em;
  margin-right: 6em;
}

tr td {
  border: 1px solid black;
}

label {
  color:rgb(206, 209, 211);
  padding-top: 1em;
  
}
label, input {
    width: 200px;
    margin: 10px;
}
table {
  margin-left: 4em;
}
#table {
  padding: 2em;
  background-color: #93B7BE;
}
